*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --primary-color: #0096C7;
    --secondary-color: #057AB7;
    --third-color: #DEF9FF;
    --white-color: #ffff;
    --black-color: #141416;
    --text-color: #626264;
    --border-color: #dddd;

}
html{
     /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem; 
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}